@import "Variables";

.top_bottom_border {
  position: absolute;
  background-color: $colourDB32VeryDarkPurple;
  width: 100%;
  height: 5%;
}

#top_border {
  top: 0;
}

#bottom_border {
  bottom: 0;
}

#top_bar {
  //background-color: mediumpurple;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
  grid-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.top_bar_button_cont {
  //background-color: #5fcde4;
  //height: 15%;
  text-align: center;
}

.top_bar_button {
  background-color: $colourDB32White;
  height: 100%;
  max-height: 90%;
  padding: 4px;
  cursor: pointer;
  &:hover {
    padding: 8px;
  }
}

#main_tooltip {
  position: absolute;
  width: 800px;
  max-width: 80%;
  top: 15%;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%);
  text-align: center;
  color: $colourDB32VeryDarkPurple;
  background-color: $colourDB32WhiteOpacity80;
  visibility: hidden;
}

#title_img {
  position: absolute;
  width: 150%;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
}

#play_cont {
  display: grid;
  grid-template-rows: 40px 70px 70px;
  position: absolute;
  width: 400px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#play_tabs_cont {
  display: grid;
  grid-template-columns: 44% 12% 44%;
  width: 100%;
}

.play_tab {
  position: relative;
  background-color: $colourDB32WhiteOpacity80;
  color: $colourDB32VeryDarkPurple;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 0.1em;
  line-height: 1.2;
  border: 0;
  &:hover {
    font-size: 15px;
  }
}

#play_inputs_cont {
  background-color: $colourDB32WhiteOpacity80;
  padding: 10px;
  padding-bottom: 0px;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 0.1em;
  line-height: 1.2;
}

.home_input {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $colourDB32White;
  cursor: pointer;
  text-align: center;
  color: $colourDB32Red;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 0.1em;
  line-height: 1.2;
  border: 0;
  &:hover {
    font-size: 15px;
  }
}

#play_button_cont {
  background-color: $colourDB32WhiteOpacity80;
  padding: 10px;
}

#play_button {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: $colourDB32Red;
  cursor: pointer;
  text-align: center;
  color: $colourDB32White;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 0.1em;
  line-height: 1.2;
  border: 0;
  &:hover {
    background-color: $colourDB32Rose;
    font-size: 30px;
  }
}

#warning_message {
  text-align: center;
  color: $colourDB32Red;
  background-color: $colourDB32White;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  visibility: hidden;
}

#background_img {
  image-rendering: pixelated;
  position: absolute;
  height: 100%;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

#renderer_button {
  height: 60%;
  user-select: none;
}

#language_button {
  height: 60%;
  user-select: none;
}

.top_bar_text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-weight: bold;
  visibility: visible;
}

#language_select {
  /*position: absolute;
  right: 0px;
  top: 10px;
  width: 150px;
  height: 40px;*/
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  color: $colourDB32DarkBlurple;
  background-color: $colourDB32White;
  border-style: solid;
  border-color: $colourDB32White;
  border-width: 3px;
  font-weight: bold;
  padding: 0px;
  cursor: pointer;
}

#language_select:hover {
  font-size: 18px;
  color: $colourDB32White;
  background-color: $colourDB32Blurple;
}

#language_list {
  position: absolute;
  right: 18px;
  top: 84px;
  width: 150px;
  text-align: center;
  color: $colourDB32VeryDarkPurple;
  background-color: $colourDB32White;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  user-select: none;
  visibility: hidden;
}

.language_option {
  cursor: pointer;
  display: block;
  line-height: 30px;
  vertical-align: middle;
  &:hover {
    //background-color: $colourDB32Blurple;
    background-color: $colourDB32SteelGrey;
    //color: $colourDB32White;
    font-weight: bold;
    transform: scale(1.2);
    filter: brightness(110%);
    //font-size: 14px;
  }
}

#controls {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  height: 48%;
  text-align: center;
  color: $colourDB32White;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.controls_image {
  transform: scale(4);
}

#news_cont {
  position: absolute;
  top: 63%;
  right: 20px;
  transform: translateY(-50%);
  width: 300px;
  max-width: 25%;
  min-height: 200px;
  text-align: center;
  color: $colourDB32VeryDarkPurple;
  background-color: $colourDB32WhiteOpacity80;
  font-weight: bold;
  padding-bottom: 10px;
  user-select: none;
  &:hover {
    transform: translateY(-50%) scale(1.1);
    filter: brightness(110%);
  }
}

#news_header {
  margin: 0;
  padding: 10px;
  background-color: $colourDB32White;
}

#news_date {
}

#news_title {
}

#news_image {
  width: 90%;
}

#credits {
  position: absolute;
  bottom: 0;
  right: 30px;
  height: 5%;
  background-color: $colourDB32White;
  padding: 6px;
  line-height: 5vh;
  user-select: none;
  &:hover {
    transform: scale(1.1);
    filter: brightness(110%);
  }
}

#partners_button {
    position: absolute;
    bottom: 0;
    left: 30px;
    height: 5%;
    background-color: $colourDB32White;
    padding: 6px;
    line-height: 5vh;
    user-select: none;
    &:hover {
        transform: scale(1.1);
        filter: brightness(110%);
    }
}

#partners_cont {
    position: absolute;
    overflow: auto;
    display: inline-block;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100%;
    background-color: $colourDB32White;
    user-select: none;
    visibility: hidden;
}

#partners_close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 13px;
    font-size: 22px;
    background-color: $colourDB32White;
    &:hover {
        background-color: $colourDB32SteelGrey;
    }
}

#partners_header {
    background-color: $colourDB32Red;
    color: $colourDB32White;
    padding: 24px;
    font-size: 20px;
    font-weight: bold;
}

#iogames_space_logo {
  width: 75%;
  padding: 20px;
}

#crazy_games_logo {
  width: 80%;
  padding: 20px;
}

#x1p_logo {
    width: 35%;
    padding: 20px;
}

#home_ad_banner {
  position: absolute;
  width: 300px;
  height: 250px;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  border: 12px solid $colourDB32WhiteOpacity80;
}

#preroll_cont {
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $colourDB32Black;
}

#adblock_warning {
    position: absolute;
    z-index: -1;
}

#dmp_cont {
  position: absolute;
  overflow: auto;
  display: inline-block;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 100%;
  background-color: $colourDB32White;
  user-select: none;
  visibility: hidden;
}

#dmp_close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 13px;
  font-size: 22px;
  background-color: $colourDB32White;
  &:hover {
    background-color: $colourDB32SteelGrey;
  }
}

#dmp_header {
  background-color: $colourDB32Red;
  color: $colourDB32White;
  padding: 24px;
  font-size: 20px;
  font-weight: bold;
}

#dmp_buy_subheader {
  background-color: $colourDB32DarkBlurple;
  color: $colourDB32White;
  padding: 12px;
  font-size: 40px;
  font-weight: bold;
}

#dmp_buy_cont {
  //background-color: cadetblue;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

#dmp_buy_info {
  text-align: left;
  padding-right: 12px;
}

#dmp_spacer {
  background-color: $colourDB32Red;
  height: 28px;
}

#dmp_activate_subheader {
  background-color: $colourDB32DarkBlurple;
  color: $colourDB32White;
  padding: 12px;
  font-size: 40px;
  font-weight: bold;
}

#dmp_activate_input {
  background-color: $colourDB32SteelGrey;
  height: 50px;
  width: 90%;
  margin: 14px;
}

#dmp_activate_accept {
  background-color: $colourDB32Green;
  color: $colourDB32White;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  &:hover {
    background-color: $colourDB32LimeGreen;
  }
}

#dmp_activate_show {
  background-color: $colourDB32PrussianBlue;
  color: $colourDB32White;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  &:hover {
    background-color: $colourDB32LightBlue;
  }
}